### for_list_format

## 1. Control Flow

In [79]:
num = [1,2,3,4,5]
num, type(num)

([1, 2, 3, 4, 5], list)

In [4]:
for i in num:
    print(i,end=" ")

1 2 3 4 5

In [6]:
num = list(range(1,11))
num, type(num)

([1, 2, 3, 4, 5, 6, 7, 8, 9, 10], list)

In [8]:
for i in num:
    if i%2 == 0:
        print(i, ':짝수')
    else:
        print(i, ':홀수')

1 :홀수
2 :짝수
3 :홀수
4 :짝수
5 :홀수
6 :짝수
7 :홀수
8 :짝수
9 :홀수
10 :짝수

In [14]:
sub = ['국','영','수','정보']
for i in range(len(sub)):
    print(i+1,'교시',sub[i])

1 교시 국
2 교시 영
3 교시 수
4 교시 정보

In [17]:
for i,val in enumerate(sub):
    print(i+1, val)

1 국
2 영
3 수
4 정보

In [57]:
sub = ['국','영','수','정보']
for i in range(len(sub)):
    if sub[i]=='정보':
        print(i+1,'교시',sub[i],'합격')
    else:
        print(i+1,'교시',sub[i],'해당없음')

1 교시 국 해당없음
2 교시 영 해당없음
3 교시 수 해당없음
4 교시 정보 합격

In [21]:
for i in range(1,11):
    if i%2==0:
        print('파이썬')
    else:
        print('야~ 너도 파이썬 할 수 있어')

야~ 너도 파이썬 할 수 있어
파이썬
야~ 너도 파이썬 할 수 있어
파이썬
야~ 너도 파이썬 할 수 있어
파이썬
야~ 너도 파이썬 할 수 있어
파이썬
야~ 너도 파이썬 할 수 있어
파이썬

## 2. List 활용

In [61]:
juso = '     인천광역시 중구 참외전로 116 창의관     '
juso, type(juso),len(juso)

('     인천광역시 중구 참외전로 116 창의관     ', str, 31)

In [62]:
juso = juso.strip()

In [63]:
juso, len(juso)

('인천광역시 중구 참외전로 116 창의관', 21)

In [64]:
addr = juso.split()

In [65]:
addr, len(addr), type(addr)

(['인천광역시', '중구', '참외전로', '116', '창의관'], 5, list)

In [66]:
addr[:2], addr[3:]

(['인천광역시', '중구'], ['116', '창의관'])

In [81]:
juso.startswith('서울')

False

In [89]:
juso.endswith('관')

True

In [82]:
'인천광역시' in addr

True

In [83]:
'인천' in juso

True

## 1. Format

In [92]:
s = 'My Fruits is {}, {}, {}'
pr = s.format('사과','복숭아','배')
print(pr)

My Fruits is 사과, 복숭아, 배

In [75]:
info_1 = '학교: {} 학번: {} 이름: {}'
p = info_1.format('인천정보산업고',30102,'김덕민')
print(p)

학교: 인천정보산업고 학번: 30102 이름: 김덕민

## 2. %s, %d, %f.2... %(문자,정수,실수)

In [76]:
info_2 = '학교 : %s 학번 : %d 성적 : %2.2f'
p = info_2%('송도고',30102,90.08)
print(p)

학교 : 송도고 학번 : 30102 성적 : 90.08

In [93]:
a = '%s %d 개 가격은 %.2f 달라'
b = a%('햄버거',2,8.0)
print(b)

햄버거 2 개 가격은 8.00 달라

### [문제1] 30부터 50까지 중에서 홀수만 출력

In [94]:
for i in range(30,51):
    if i%2 != 0:
        print(i)

31
33
35
37
39
41
43
45
47
49

### [문제2] 아이디(문자)를 입력받아 동일하면 회원, 그렇지 않으면 회원가입하세요 출력

- 안녕하세요 회원님
- 아니면 회원가입하세요

In [96]:
ID = input('아이디 입력: ')
if ID == '김덕민':
    print('안녕하세요 %s'%(ID)+'님')
else:
    print('회원가입하세요')

아이디 입력: 김덕민
안녕하세요 김덕민님

### [문제3] input ex) 인천정보산업고/30105/김장민
- 학교 : 인천정보산업고
- 학번 : 30105
- 이름 : 김장민

In [17]:
STR = input('입력 : ').split('/')
print('학교 : %s'%(STR[0]))
print('학번 : %s'%(STR[1]))
print('이름 : %s'%(STR[2]))

입력 : 인천정보산업고/30102/김덕민
학교 : 인천정보산업고
학번 : 30102
이름 : 김덕민

### [문제4] 숫자데이터 5개를 입력받아
- 합계
- 평균

In [18]:
a = list(map(int,input('숫자 5개 입력 : ').split(' ')))
Sum = 0
for i in range(len(a)):
    Sum += a[i]
print('합계 : %d'%Sum)
print('평균 : %.2f'%(Sum/len(a)))

숫자 5개 입력 : 1 2 3 4 5
합계 : 15
평균 : 3.00